*{
  margin: 0;  
  padding: 0;
  font-family: 'poppins';
}

body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to bottom, #F6921E,#333333);
}

.cont{
    padding: 40px;
    background-color: #fff;
    border-radius: 1rem;
    max-width: 650px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);

}

h1{
    text-align: center;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

#error{
    color: rgb(252, 19, 19);
    
}

.form-group{
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    
}

label{
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 5px;
}

input{
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(85, 85, 85);
    transition: all 0.2s ease;
    width: 100%;    
}

input:focus{
    border: 2px solid #F6921E;
    outline: none;
}

#password, #repeat-password{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
}


#togglePassword{
    padding: 0.7rem;
    color: white;
    background-color: #333333;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;

}

.password-cont{
    display: flex;
    width: 100%;
}

.passwords-cont{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 1.2rem;
    
}
.passwords-cont .form-group{
    width: 100%;
    margin-top: 0;
}

.submit-btn{
    width: 100%;
    padding: 13px 28px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 2rem;
    background: linear-gradient(to right, #333333, #F6921E);
    cursor: pointer;

}


@media (max-width:760px) {
    .passwords-cont{
        flex-direction: column ;
        
    }


    .form-group{
    }
    
}